@use '../utilities';

//Form
.form{
    padding: 10%;
    width: 100%;
    @include utilities.flexCenter(column, space-around, initial);

    &__input{
        border: 0;
        border-bottom: 1px solid #a6a3a2;
        border-radius: 0;
        outline: 0;
        font-size: 1rem;
        width: 90%;
    }

    &__submit{
        background-color: var(--dark);
        outline: 0;
        border: 0;
        color: var(--lighter);
        padding: 4%;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;
    }
}

.searchForm{
    @include utilities.flexCenter(row, center, initial);
    margin: 3%;
    
    &__submit{
        padding: 2.5%
    }
}

.inPlaceForm{
    &__input{
        font-size: 1.1rem;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #a6a3a2;
    } 
 }
