@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
	--darker:#1A120B;
	--dark:#3C2A21;
	--light:#D5CEA3;
	--lighter:#E5E5CB;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


